.skills-name {
    transition: transform 0.4s ease, font-size 0.2s ease;
}
.skills-name :hover {
    /*transform: scale(1.1);*/
    color: #007BFF;
    text-decoration: uppercase;
    font-size: 1.1em;

}
