.skills-name {
    display: inline-block;
    transition: transform 0.4s ease, font-size 0.2s ease;
}
.skills-name:hover {
    transform: scale(1.1); /* Scale the entire div */
    color: #007bff; /* Change text color on hover */
}
.skills-name * {
    transform: scale(1); /* Keep child elements at normal scale */
    color: white; /* Reset text color for child elements */
    text-decoration: none; /* Reset underline for child elements */

.skills-icon:hover {
    transition: rotate 0.4s ease 0s;
}
section#section-resume-skills * {
    color:white
}